$theme-colors: (
  "primary": #055aa4,
  "secondary": #ffaa4c,
  "success": #b42b51,
  "info": #eeeeee,
  "dark": #082032,
) !default;

@import "/Users/hamzamuhammad/Desktop/new/node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.row .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row .col-md-4 .btn {
  width: 100%;
  margin: 1rem auto;
}

.container .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
